// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.

@import "topbar";
@import "sidebar";
@import "footer";
@import "font";
@import "ieset";

//
// Gen eral
//

ul, li, ol{
  list-style:none;
}

body{
  background: white;

}

//
// Media Queries
//



  .social-block span {font-size: 2em; }

//
// Elements
//
  .fl{ float:left; }
  .fr{ float:right; }
  .ofhdn{ overflow:hidden; }
  ul.no-style{ list-style: none;}
  hr.silent{ border: 1px solid #fff; }
  .top-nav-wrapper{ background: white; }

.x2 {
  overflow:hidden;
  display:block;
  float:left;
  width:auto;
  height:auto;
  position: relative;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -khtml-border-radius: 50%;
  background:$secondary-color;
  border: 5px solid $sidebar-company-color;
  -webkit-box-shadow:  0px 0px 0px 4px #666666;
  box-shadow:  0px 0px 0px 4px #666666;
  margin: 1em 0;
}
.x2 > div {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}
.x4,.x5 {
  width:100%;
  height: 20%;
}
.x2 > .x7 {
  width:100%;
  height: 60%;
  top: 5%;
}
.x4 {
  background-color:$secondary-color;
}
.x2 > .x5 {
  background-color:$secondary-color;
  top: 80%;
}

.x7 {
  background-color:$secondary-color; 
}


/* END Content */
@media (max-width: 320px)
{
  .x2 {padding: 50%;}
}

@media (min-width: 321px) and (max-width: 800px)
{
  .x2 {padding: 25%;}
}

@media (min-width: 801px)
{
  .x1 {width:800px}
  .x2 {padding: 12.5%;}
}


  .clearboth{ clear: both; }

// Layout
//
 // .s9999{ width: 9999px; }     
  .h300{ height: 350px; }
  .h100{ height: 100px; }
  .h120{ height: 120px; }
  .b30{ padding-bottom: 30px; }    
  .tp30{ padding-top: 30px; }
  .mrn9{ margin-right: -0.9375em; }
  .mln9{ margin-left: -0.9375em; }
  .pr98 { padding-right: 0.9375em; }
  .pl98 { padding-left: 0.9375em; }
  .row-fluid{ max-width: none !important; }
  .content{
  }

//
// Background
//
  #bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  #bgContent{
    width: 58.75em;
    margin: 0 auto;
    #bgLeft{
      float: left;
      width: 39.16666em;
      #bgLeftExtension{
        float: right;
        width: 9999px;
        background: $page-text-background;
        #bgLeftContent{ 
        float: right;
        width: 39.16665em;
        border-left: 1px solid #E4E2E1;
        height: 2000px;
        }
      }
    }
    #bgRight{
      float: left;
      width: 19.58333em;
      #bgRightExtension{
        float: left;
        width: 9999px;
        background: $sidebar-main-color;
        #bgRightContent{ 
          float: left;
          width: 19.58332em;
          border-right: 1px solid #464341;
          height: 2000px;
        }
      }
    }
  }
  .content.brand{

  }
  .brand-bar{
    .brand-bar-extension{
     // width: 9999px;
     // float: right;
      .brand-bar-content{
        padding-left: 1em;
        padding-right: 1em;
        li{
          padding-top: 5px;
        }
      //  float:right;
      //  max-width: 39.166em;
      }
    }                 
  }
  .brand-row{
    padding:0 .5em;
    background: $brandbar-color;
    img{
      opacity: .3;
      @include transition( all, .7s );
      @include delaytransition( .4s );
    }
    &.active{
      img{
        opacity: 1;
        @include transition( all, 2s );
      }
    }
  }

//
// Main
//

  // Hero
  // 

    .masthead-photo { 
      background: url('../images/hero/hero-map.jpg') center right;
      overflow: hidden; 
      float: right; 
    }
    .masthead-photo-extension{ 
      width: 9999px; 
    }
    .masthead-photo-content{
      float: right;
      h1{
        font-weight: 100;
        font-size: 2.4em;
        display:inline-block;
        background:#c5424c;
        background:rgb (197,66,76);
        background:rgba(197,66,76,0.66);
        color: white;
        margin: 0em;
        padding:0 .4em;
      }
      .text-two-line{
        margin-top: 7em;
        margin-left: .9em;
        
      }
    }
    
    @media only screen and (max-width: 767px) {
      .masthead-photo-content{
        float: right;
        h1{
        }
      }
    }

    

  //
  // Case Study
  //
  #featrap{
    max-width: $max-right;
    margin: 0 auto;
  }
    .case-studies{
     overflow: hidden;
      h4.subheader{
        text-align: left !important;
      }
    }
    .case-study-item{ 
      padding: 2em 0; 
      h2.subheader{
        font-size: 1.2em;
        margin-bottom: .2em;
      }
      p{
        font-size: .8em;
      }
    }
    .case-studies-extension{
        background: white;
        li{
          height: auto;
          opacity: .4;
            @include transition( all, .9s );
        }
        li.active{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        opacity: 1;
        @include transition( all, .2s );
        }
    }    
    .case-studies-content{
      .orbit-bullets{
        display: inline-block;
      }
      .image-wrapper{
        border-radius: 35px 15px 15px 15px;
        overflow: hidden;
        max-width:160px;
      }
    }
    
    .case-studies{
      ul#featured2.orbit-slides-container{
          height: auto !important;
      }
    }
    //Orbit
    //
    .brandwrap{
      div .orbit-container{ 
        background: none; text-align:left; 
         > ul{
          height: auto !important;
        }
      }
      .orbit-slide-number{ visibility: hidden; }
      .orbit-prev{ visibility: hidden; } 
      .orbit-next{ visibility: hidden; } 
      .orbit-timer{ visibility: hidden; }
      ol.orbit-bullets {
      }
      .orbit-container {
        overflow: visible !important;
      }
    }

    #case-sliders{
      .orbit-bullets li {
        -webkit-transition: background .2s;
        -moz-transition: background .2s;
        -o-transition: background .2s;
        -ms-transition: background .2s;
        transition: background .2s;
        background: lighten(#949494, 20%);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        opacity: .8;
        border: none;
      }
      .orbit-bullets li:hover {
        background: $secondary-color!important;
        -webkit-transition: background .2s;
        -moz-transition: background .2s;
        -o-transition: background .2s;
        -ms-transition: background .2s;
        transition: background .2s;
        border: none;
      }
      .orbit-bullets li.active {
        -webkit-transition: background .2s;
        -moz-transition: background .2s;
        -o-transition: background .2s;
        -ms-transition: background .2s;
        transition: background .2s;
        background: none;
        border: solid 2px $secondary-color;  
      }
      .orbit-timer{
        visibility: hidden;
      }
      .orbit-slide-number{
        display: none !important;
      }
    }

    .lt-ie9 .orbit-container{ overflow: hidden !important;}
    .lt-ie9 .orbit-container li{ display: none !important;}
    .lt-ie9 .orbit-container li.active{ display: block !important;}



  //
  // Page Main
  //
  .page-main{
  }
  .page-main-extension{
    background: #FAF8F6;

  }
  .page-main-content{
    padding-top: 1.3em;
    .info-gr{
      padding: 3em 0 5em;
    }
  }