// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.

@import "topbar";
@import "sidebar";
@import "footer";
@import "font";

//
// Gen eral
//


//
// Media Queries
//

  /* Medium Displays: 768px - 1279px */
  @media only screen and (min-width: 66em) {
    .lkb-hide-for-medium{
      display: none !important;
    }
  }


  .social-block span {font-size: 2em; }

//
// Elements
//
  .fl{
    float:left;
  }
  .fr{
    float:right;
  }
  .h300{
    height: 350px;
  }
  .b30{
    padding-bottom: 30px;
  }    
  .tp30{
    padding-top: 30px;
  }
  ul.no-style{
    list-style: none;
  }
  hr.silent{
    border: 1px solid #fff;
  }
  .overflow{ overflow:hidden; border-top: 5px solid $primary-color; background: #FAF8F6;}
  .top-nav-wrapper{ background: white; }
  .sexy_line { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
  }
  .pr98 {
    padding-right: 0.9375em;
  }

  // Circle

  .x1 {
      overflow:hidden;
      margin-left: 7%;
      margin-right: 7%;
      margin-bottom: 4%;
  }
  .x1 .x2 {
    display:block;
    float:left;
    padding: 48%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    border:3px solid #eee;
    text-align:center;
    position: relative;
  }
  .x1 .x2 span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 48%;
    line-height: 1em;
    height: 1em;
    font-size: 100%;
    overflow: hidden;
  }
  // Spacing

  .vertical-space{ padding: 10% 3% 0; }

//
// Layout
//
@media only screen and (min-width: 62.5em) {
  .masthead-photo-content, .case-studies-content, .page-main-content{
    width: 41.66666em;
  }
  .case-studies-extension, .page-main-extension, 
  .social-block-extension, .email-alerts-extension, .products-link-extension, .distribution-link-extension,
  .partner-block-extension, .company-facts-extension {
    width: 9999px;
  }
  .social-block-content, .email-alerts-content, .products-link-content, .distribution-link-content,
  .partner-block-content, .company-facts-content{
    width: 17.83333em;
  }  
}
  .social-block-content, .email-alerts-content, .products-link-content, .distribution-link-content,
  .partner-block-content, .company-facts-content{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }


  .social-block-extension, .email-alerts-extension, .products-link-extension, .distribution-link-extension,
  .partner-block-extension, .company-facts-extension{
    background: #353230;
  }

//
// Main
//

  .main{
    background: lighten(#fbffe3, 90%);
  }
  div.main.columns{
  }


  // Hero
  // 

    .masthead-photo { 
      margin-right: -0.9375em;  
      background: url('../images/hero-color.jpg') center right;
      overflow: hidden; 
      float: right; 
      border-bottom: 1px solid #E4E2E1;
    }
    .masthead-photo-extension{ 
      width: 9999px; 
    }
    .masthead-photo-content{
      float: right;
      h1{
        font-weight: 100;
        font-size: 2.4em;
        display:inline-block;
        background:#c5424c;
        background:rgb (197,66,76);
        background:rgba(197,66,76,0.66);
        color: white;
        margin: 0em;
        padding:0 .4em;
      }
      .text-two-line{
        margin-top: 7em;
        margin-left: .9em;
        
      }
    }
    div .orbit-container{ background: none; 
      padding-right: 0.9375em; text-align:left;
    }
    @media only screen and (min-width: 58.75em) {
      div .orbit-container{  
        height: 320px;
      }
    }
    @media only screen and (max-width: 767px) {
      .masthead-photo-content{
        float: right;
        h1{
        }
      }
    }


    .orbit-slide-number{ visibility: hidden; }
    .orbit-next, .orbit-prev{ visibility: hidden; }

  //
  // Case Study
  //
    .case-studies{
       margin-right: -0.9375em; 
       height: 370px;
    }
    .case-study-item{ 
      padding: 2em 0; 
      h2.subheader{
        font-size: 1.2em;
        margin-bottom: .2em;
      }
      p{
        font-size: .8em;
      }
    }
    .case-studies-extension{
      background: white;
      height: 370px;
    }    
    .case-studies-content{
      text-align:center;
      .orbit-bullets{
        display: inline-block;
      }
      .image-wrapper{
        border-radius: 35px 15px 15px 15px;
        overflow: hidden;
        width:160px;
        margin:0 auto;
      }
    }
    .orbit-timer{
      visibility: hidden;
    }
    div .orbit-bullets li {
      -webkit-transition: background .2s;
      -moz-transition: background .2s;
      -o-transition: background .2s;
      -ms-transition: background .2s;
      transition: background .2s;
      background: #ababab;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      opacity: .8;
      border: solid 2px #F9F8F6; 
    }
    div .orbit-bullets li:hover {
      background: #B61636;
      -webkit-transition: background .2s;
      -moz-transition: background .2s;
      -o-transition: background .2s;
      -ms-transition: background .2s;
      transition: background .2s;
    }
    div .orbit-bullets li.active {
      -webkit-transition: background .2s;
      -moz-transition: background .2s;
      -o-transition: background .2s;
      -ms-transition: background .2s;
      transition: background .2s;
      background: none;
      border: 2px solid #59848c;
    }
    @media only screen and (max-width: 58.75em) {
      .case-studies{
        height: auto !important;
      }
    }
    @media only screen and (min-width: 58.75em) {
      .case-studies-extension{
      }
    }
    @media only screen and (max-width: 767px) {
      .case-studies-extension{
        img{
          margin: 0 auto;
        }
      }
    }  

  //
  // Page Main
  //
  .page-main{
    margin-right: -0.9375em;
    margin-left: -0.9375em;
  }
  .page-main-extension{
    background: #FAF8F6;
    border-top: 1px solid #E4E2E1;

  }
  .page-main-content{
    padding-top:1.3em;
    padding-right: 2.8125em;
    padding-left: 0.9375em;
    .info-gr{
      padding: 3em 0 5em;
    }
  }
  @media only screen and (max-width: 767px) {
    .page-main-content{
      padding-right:1.8750em;
      padding-left:1.8750em;
    }
  }




// pulse
// 

/* line 748, ../../../src/scss/screen.scss */
.list-icon-items .pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: none;
  border: 1px solid #ee6557;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 275ms;
  -moz-transition-duration: 275ms;
  -o-transition-duration: 275ms;
  transition-duration: 275ms;
  -webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
}
/* line 762, ../../../src/scss/screen.scss */
.list-icon-items a {
  border: none;
  display: block;
}
/* line 766, ../../../src/scss/screen.scss */
.list-icon-items a .pseudo-link {
  word-wrap: break-word;
  word-break: break-all;
}
/* line 774, ../../../src/scss/screen.scss */
.list-icon-items a:hover .button, .list-icon-items a:focus .button, .list-icon-items a:active .button {
  background-color: #16a6b6;
}
/* line 778, ../../../src/scss/screen.scss */
.list-icon-items a:hover .pulse, .list-icon-items a:focus .pulse, .list-icon-items a:active .pulse {
  opacity: 1;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}
/* line 787, ../../../src/scss/screen.scss */
.list-icon-items li.secondary .pulse {
  border: 1px solid #d1d1d1;
}
/* line 793, ../../../src/scss/screen.scss */
.list-icon-items .button,
.list-icon-items button {
  -webkit-backface-visibility: hidden;
}

/* line 799, ../../../src/scss/screen.scss */
.no-csstransitions .pulse {
  display: none;
}

