@import "variables";

//
// Sidebar
//

  .sidebar .content-sec{
    padding-right: 0.9375em;
  }

  div.sidebar{
    background: #333;
    color: white;
    a{
      color: #AFAEAF;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      -o-transition: color .2s;
      -ms-transition: color .2s;
      transition: color .2s;
      &:hover{
        color: $secondary-color;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -o-transition: color .2s;
        -ms-transition: color .2s;
        transition: color .2s;
      }
      .icon{
        font-size: 1.4em;
      }
    }
    h4.subheader{
      font-size: 1.9em;
      color: white;
      margin-bottom: 0.2em;
    }
    hr{
      border: solid #444;
      border-width: 1px 0px 0px;
    }
  }
  @media only screen and (min-width: 767px) {
    ul{
      text-indent: $left-spacing;
    }
  }
  .link-string{
    li{
      line-height: 1.2em;
    }
    a{
      font-size: .9em;
    }
  }

  @media only screen and (max-width: 58.75em) {
    
    div.sidebar{
      h4.subheader{
        font-size: 1.2em;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .sidebar{
      text-align: center;
      .fl{
        float: none;
      }
      .partner-block-content{
        ul{
          li{
            img{ margin: 0 auto; }
          }
        }
      }
    }
  }
  // Company Facts
  //
    .company-facts{ 

    .circle{
      h2{
        font-size: 1.5em;
        line-height: 1.6em;
        font-weight: 400;
        color: #efefef;
        span{
          font-size:.6em;
        }
      }
    }
    .second-stat{
      margin-top: 1.7em;
    }
      padding-bottom: 40px;
      img { margin: 0 auto; }
      p{ font-size: .8em; }
      .row{
        padding-bottom: 35px;
      }
      .company-facts-extension{
        margin-left: -0.9375em;
        margin-right: -0.9375em;
        padding-left: 1.875em;
        padding-right: 0.9375em;
        border-bottom: 1px solid #444241;
      }
      h3.subheader{

      }
      .orbit-container {
        overflow: hidden;
        width: 100%;
        position: relative;
        background: none;
      }
      .orbit-prev, .orbit-next, .orbit-slide-number, .orbit-timer{
        visibility: hidden;
      }
    }
    @media only screen and (max-width: 767px) {
      .company-facts{ 
        padding-bottom: 2em;
      }
      .company-facts-extension{
        ul{
          padding: 0 0.9375em;
        }
        img{
          max-width: 120px !important;
          float: none!important;
          padding-bottom: 1em;
          padding-top: 1em;
        }
        height: auto !important;
      }        
    }
    div.company-facts-extension{
      background:#1E1E1E;
    }
    @media only screen and (max-width: 767px) {
      .company-facts-content{
        padding-top: 1em;

      }
    }
    @media only screen and (min-width: 768px) {
      .company-facts-content{
        padding-top: 60px;
        p{ padding-top: .3em; }
        .second{
          padding-top: 1.753em;
        }
      }
    }
  // Partner
  //

    .partner-block{
      ul{
        padding-top: .5em;
        li{
        }
      }
    }
    .partner-block-extension{
      padding-top:1em;
      padding-right: 0.9375em;
      padding-left: 0.9375em;
      height: auto !important;
    }

  // Email Alerts
  //
    div.email-alerts-block{
      padding-right: 0.9375em;
      a{
        color: white;
      }
      .email-box{
        padding-right: 0.9375em;
        padding-left: $left-spacing;
      }
      label{
        color: white;
        margin-bottom: 1em;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -o-transition: color .2s;
        -ms-transition: color .2s;
        transition: color .2s;
      }
      .button{
        &:hover{
          color: #AFAEAF;
          background: darken($secondary-color, 10%);
          -webkit-transition: all .2s;
          -moz-transition: all .2s;
          -o-transition: all .2s;
          -ms-transition: all .2s;
          transition: all .2s;
        }
      }
      a.prefix{
        border-radius: 0px 5px 5px 0px;
      }
    }
    .email-input input{
      border-radius: 5px 0px 0px 5px;
    }
    @media only screen and (max-width: 58.75em) {
      .email-alerts-extension{
        width: 100%;
      }
      .email-box{
        width: 91.66667%;
        padding-right: 0em !important;
      }
    }

    @media only screen and (max-width: 767px) {
      .email-alerts-extension{
        padding-top:1em;
      }
    }
  // Social block
  //
      .social-block{
        span{
          opacity: .6;
        }
        a{
          font-size: 2em;
          -webkit-transition:  color .2s;
          -moz-transition:  color .2s;
          -o-transition:  color .2s;
          -ms-transition:  color .2s;
          transition:  color .2s;
           &:hover {
            -webkit-transition: color .2s;
            -moz-transition: color .2s;
            -o-transition: color .2s;
            -ms-transition: color .2s;
            transition: color .2s;
          }
        }
        .foundiconsoc-facebook{
          &:hover{
            color: #4b5d90;
          }
        }
        .foundiconsoc-twitter{
          &:hover{
            color: #9AE4E8;
          }
        }
        .foundiconsoc-youtube{
          &:hover{ 
            color: #d02525; 
          }
        }
      }
      @media only screen and (max-width: 767px) {
        .social-block{
          span{
            font-size: 1.5em;
          }
          .h300{
            height: auto;
          }
        }

      }